{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
    <title>Django Social Auth</title>
</head>
<body>
<div class="container-fluid">
    <div>
        <h1 class="text-white text-center">{% block title %}{% endblock %}</h1>
        <div class="card p-5">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>