{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 mb-3">
            <a class="nav-link" href="/logout">Logout</a>
            <h4 class="text-center">Welcome {{ user.username }}</h4>
        </div>
    </div>
{% endblock %}