{% extends 'base.html' %}
{% block title %}Sign in{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-heading">Login</div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Username:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="password" class="col-md-4 control-label text-right">Password:</label>
                        <div class="col-md-6">
                            <input name="password" type="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input name="login" type="submit" value="Login" class="btn btn-success">
                        <a href="/register">or Register</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                    <button class="btn btn-primary mb-2">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}