{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}


    <div class="container py-5">
        <h1>Register</h1>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group clearfix">
                <label for="username" class="col-md-4 control-label text-right">Username:</label>
                <div class="col-md-6">
                    <input name="username" value="" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="username" class="col-md-4 control-label text-right">Email:</label>
                <div class="col-md-6">
                    <input name="email" value="" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="password" class="col-md-4 control-label text-right">Password:</label>
                <div class="col-md-6">
                    <input name="password1" type="password" class="form-control"/>
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="password_confirm" class="col-md-4">Password Confirm:</label>
                <div class="col-md-6">
                    <input name="password2" type="password" class="form-control"/>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
    </div>

{% endblock %}